@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: "MagazineLetter";
  src: url("/fonts/magazine-letter/magazine.woff2") format("woff2"),
       url("/fonts/magazine-letter/magazine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-colour-light: #f5f5f5;
  --bg-colour-light-shade:#ececec;
  --bg-colour: #1c2127;
  --bg-colour-shade: #171a20;
  --highlight: #ffabff;
  --purplight: #9636bf;
}

::selection {
background-color: var(--highlight);
color: #ffffff;
}

html.light{
  background-color: #e9e9e9;
  color: var(--bg-colour);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.light body {
  /* background-color: #f5f5f5; */
  color: var(--bg-colour);
  transition: ease-in-out 0.5s;
}

.light p a {
  color: var(--purplight);
}

p a {
  color: var(--highlight);
}


hr {
  border: 0;
  height: 1px;
  background: #72718a;
  margin: 1rem 0;
}

.light footer p,
.light footer a {
  color: var(--bg-colour);
}

.light .nav-links a,
.light .alt-links a,
.light .alt-links button {
  color: var(--bg-colour);
}

.light .nav-links a:hover,
.light .nav-links a:focus,
.light .alt-links a:hover,
.light .alt-links a:focus,
.light .alt-links button:hover,
.light .alt-links button:focus
.light footer a:hover,
.light footer a:focus{
  /* text-decoration:overline; */
  color: var(--purplight);
}

html {
    background-color: var(--bg-colour);
    font-family: serif;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }

  .page-title {
    font-family: "MagazineLetter", sans-serif;
    text-align: center;
  }

  body {
    /* border-radius: 20px; */
    margin: 0 auto;
    color: var(--bg-colour-light);
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.15;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Source Code Pro Variable', monospace;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    margin: 0 0;
    font-size: 4rem;
  }

  /* FOOTER */

  footer a, footer p {
    text-decoration: none;
    color: #ffffff;
    user-select: none;
    display: inline-block;
    vertical-align: top;
  }

  footer {
    margin-top: auto;
    border-radius: 18px;
    background-color: var(--bg-colour-shade);
  }

  .light footer {
    background-color: var(--bg-colour-light);
  }

  footer .footlinks {
    display: flex;
    flex-direction: unset;
    margin-top: auto;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    user-select: none;
  }

  footer a:hover,
  footer a:focus {
    color: var(--highlight);
  }

  footer p.kawaii {
    font-size: 0.95rem;
    color: #72718a;
  }


  @media screen and (max-width: 725px) {

    .text {
        position: absolute;
        justify-self: center;
        top: 40%;
        left: 5%;
    }

    footer center {
        display: none;
    }

    footer .footlinks .icons {
        display: none;
    }

    footer .footlinks {
        justify-content: center;
    }
}

/* nav styles */

.nav-parent {
  background-color: var(--bg-colour-shade);
  display: flex;
  justify-content: space-between;
  user-select: none;
  max-height: 64px;
  border-radius: 18px;
}

.light .nav-parent {
  background-color: var(--bg-colour-light);
}

.nav-links, .alt-links{
  width: 100%;
  top: 5rem;
  left: 4px;
  display: none;
  margin: 0;
  user-select: none;
}

.nav-links a, .alt-links a, .alt-links button{
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  user-select: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.nav-parent .logo {
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
  align-self: center;
  user-select: none;
  margin: 0 20px;
}

.light .logo {
  filter: hue-rotate(340deg);
}

.light .logo:hover {
  filter: hue-rotate(0deg);
}

.logo:hover{
  filter: hue-rotate(340deg);
}

.nav-links a:hover,
.nav-links a:focus,
.alt-links a:hover,
.alt-links a:focus,
.alt-links button:hover,
.alt-links button:focus {
  /* text-decoration:overline; */
  color: var(--highlight);
  animation: bounce 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* .alt-links .resume:hover {
  font-weight: bold;
  scale: 1.1;
} */

.expanded {
  display: inline-block;
  width: 8%;
  justify-content: space-evenly;
}

.hi {
  margin: 0;
  background: none;
  font-size: 200px;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* hamburger menu from https://codepen.io/andreykrokhin/pen/mGEqja */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(-45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(-90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0; /* Changed from left: 0; */
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 48px;
  right: 40px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;
  background-color: #ffffff;

  transition-duration: .25s;
}

.light .menu__btn > span,
.light .menu__btn > span::before,
.light .menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: var(--bg-colour);

  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  text-align: right;
  visibility: hidden;
  top: 0;
  right: -300px; /* Changed from left: -100%; */

  width: 300px;
  height: 100%;
  z-index: 1;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: var(--bg-colour-shade);
  box-shadow: -1px 0px 6px rgba(0, 0, 0, .2); /* Changed shadow direction */

  transition-duration: .25s;
}

.light .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -300px; /* Changed from left: -100%; */

  width: 300px;
  height: 100%;
  z-index: 1;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: var(--bg-colour-light-shade);
  box-shadow: -1px 0px 6px rgba(0, 0, 0, .2); /* Changed shadow direction */

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #ffffff;

  font-size: 20px;
  font-weight: 600;

  text-decoration: none;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;

  transition-duration: .25s;
}

.light .menu__item {
  display: block;
  padding: 12px 24px;

  color: var(--bg-colour);

  font-size: 20px;
  font-weight: 600;

  text-decoration: none;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;

  transition-duration: .25s;
}


.menu__item:hover {
  background-color: #ffabff;
}

.light .menu__item:hover {
  background-color: rgb(171, 111, 199)
}

@media screen and (min-width: 833px){
  .middle {
    display: flex;
    padding: 19%
  }
}

@media screen and (min-width: 725px) {

  .nav-links, .alt-links {
    display: block;
    position: static;
    width: auto;
    background: none;
    user-select: none;
  }
  .middle {
    display: flex;
    padding: 5%
  }
  .nav-links a, .alt-links a, .alt-links button{
    display: inline-block;
    padding: 15px 20px;
    user-select: none;
  }

  .hamburger-menu {
    display: none;
  }


  .postlink {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    cursor: pointer;
    gap: 0.5rem;
    border-radius: 0.375rem;
    border: 2px solid #4a5568;
    padding: 3rem;
    transition: all 0.3s ease;
    margin: 1%;
    text-decoration: none;
    color: #fff;
  }

  .light .postlink {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    cursor: pointer;
    gap: 0.5rem;
    border-radius: 0.375rem;
    border: 2px solid #928c73;
    padding: 3rem;
    transition: all 0.3s ease;
    margin: 1%;
    text-decoration: none;
    color: #fff;
  }


  .light .inside-post {
    color: #8e5cb6;

  }

  .light .postlink:hover {
    border-color: #8540d3a9;
    font-weight: bold;
  }

.text {
  position: absolute;
  width: 600px;
  /* left: 50%;
  margin-left: -325px; */
  height: 40px;
  top: 40%;
  margin-top: -20px;
}

.word {
  position: absolute;
  opacity: 0;
  font-size: larger;
  user-select: none;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

}

@media screen and (max-width: 724px) {

  .text {
    position: absolute;
    justify-self: center;
    top: 30%;
    left: 5%;
  }

}

/*-------changing text on home-------*/
.word {
  position: absolute;
  opacity: 0;
  font-size:x-large;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lavender {
  color: #da8ffa;
}

.blue {
  color: #89caf5;
}

.red {
  color: #fc7869;
}

.green {
  color: #6ee9b6;
}

.orange {
  color: #ffa600;
}

.desc {
  max-width: 45rem;
  margin: 1rem 2rem 0rem 0rem;
  font-size: 1.15rem;
}

.desc a{
  color: var(--highlight);
  text-decoration: none;
}

.light .desc a {
  color: var(--purplight);
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .project-card-sm {
  max-width: 450px;
  padding: 1.5px;
  border-radius: 15px;
  background-color: var(--bg-colour-shade);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.5%;
  display: flex;
  flex: 1 1 calc(45% - 1rem);
  justify-content: center;
  align-items: center;
  transition: transform 0.4s, box-shadow 0.4s ;
  width: 100%;
}

.light .project-card-sm {
  background-color: var(--bg-colour-light);
}

.project-card-sm:hover {
  transform: scale(1.025);
  box-shadow: 0 0 30px -25px var(--highlight);
}

.light .project-card-sm:hover {
  box-shadow: 0 0 30px -25px var(--purplight);
}

.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  width: 10rem;
  z-index: -1;
  background: linear-gradient(to right, transparent, var(--highlight), transparent);

  transition: opacity 0.3s ;
  opacity: 0;

  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

.light .project-card-sm .card-border-gradient {
  background: linear-gradient(to right, transparent, var(--purplight), transparent);
} */

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(360deg) ;
    transform-origin: bottom;
  }
}
/*
.project-card-sm .card-container {
  display: grid;
  grid-template-areas: "img text text text";
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: var(--bg-colour-shade);
  color: var(--bg-colour-light-shade);
}

.light .project-card-sm .card-container {
  background-color: var(--bg-colour-light);
  color: var(--bg-colour);
}

.card-container img {
  grid-area: img;
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;

  transition: transform 0.3s;
}

.card-container .wrapper {
  grid-area: text;
  font-size: 0.9rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.card-container .wrapper h1 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.75rem;
}

.light .card-container .wrapper h1 {
  color: var(--bg-colour);
}

.card-container .wrapper p1 {
  height: 4.2em;
  overflow: hidden;
}

.card-container .wrapper button {
  background: none;
  border: none;
  font: inherit;
  color: #fff;
  margin-top: 1.4rem;

}

.card-container .wrapper button i {
  margin-left: .5rem;
  transition: margin 0.3s;
}
.card-container:hover button i {margin-left: 1rem;} */

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 725px) {
  .project-card-sm {
    flex-basis: calc(100% - 1rem);
  }
}


.postlink {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 2px solid #4a5568;
  padding: 1.5rem;
  transition: all 0.3s ease;
  margin: 1%;
  text-decoration: none;
  color: #fff;
}

.inside-post {
  font-size: x-large;
}

.light .postlink {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 2px solid #928c73;
  padding: 1.5rem;
  transition: all 0.3s ease;
  margin: 1%;
  text-decoration: none;
  color: #ffabff;
}


.light .inside-post {
  color: #000000;

}

.light .postlink:hover {
  border-color: #8540d3a9;
  font-weight: bold;
}

.resume.loading {
  pointer-events: none;
  position: relative;
  color: var(--highlight);
}

.resume.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
