:root {
  --bg-colour-light: rgb(255, 242, 225);
  --bg-colour: #1c2127;
  --bg-colour-shade: #2c3137;
  --highlight: #ffabff;
}

::selection {
background-color: var(--highlight);
color: #ffffff;
}

html {
    background-color: var(--bg-colour);
    font-family: serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.15;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 3.5rem;
  }

  footer a {
    text-decoration: none;
    color: #ffffff;
  }

  footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
  }

  footer a:hover, 
  footer a:focus {
    color: var(--highlight);
  }

/* nav styles */

.burgermenu {
  cursor: pointer;
  padding-right: 20px;
  padding-top: 12px;
  float: right;
}

.burgermenu .line {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 1.5rem;
}

.nav-parent {
  display: flex;
  justify-content: space-between;

}

.nav-links, .alt-links{
  width: 100%;
  top: 5rem;
  left: 4px;
  display: none;
  margin: 0;
}


.nav-links a, .alt-links a{
  display: inline;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.nav-parent .logo {
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
  align-self: center;
}

.nav-links a:hover,
.nav-links a:focus,
.alt-links a:hover,
.alt-links a:focus{
  text-decoration:overline;
  color: var(--highlight);
}

.resume:hover {
  font-weight: bold;
  scale: 1.1;
}

.expanded {
  display: inline-block;
  width: 8%;
  justify-content: space-evenly;
}

@media screen and (min-width: 700px) {
  .nav-links, .alt-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }
  .middle {
    display: flex;
    padding: 15%
  }
  .nav-links a, .alt-links a{
    display: inline-block;
    padding: 15px 20px;
  }

  .burgermenu {
    display: none;
  }

.text {
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: -325px;
  height: 40px;
  top: 40%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  opacity: 0;
  font-size: larger;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
}

/*-------changing text on home-------*/

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  opacity: 0;
  font-size: larger;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #da8ffa;
}

.belize {
  color: #89caf5;
}

.pomegranate {
  color: #fc7869;
}

.green {
  color: #6ee9b6;
}

.midnight {
  color: #e0e1a0;
}
