@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --bg-colour-light: #f5f5f5;
  --bg-colour-light-shade:#ececec;
  --bg-colour: #1c2127;
  --bg-colour-shade: #171a20;
  --highlight: #ffabff;
  --purplight: #9636bf;
}

::selection {
  background-color: var(--highlight);
  color: #ffffff;
}

p a {
  color: var(--highlight);
}


hr {
  border: 0;
  height: 1px;
  background: #72718a;
  margin: 1rem 0;
}

html {
  background-color: var(--bg-colour);
  font-family: serif;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

body {
  gap: 10px;
  margin: 0 auto;
  color: var(--bg-colour-light);
  width: auto;
  padding: 70px;
  line-height: 1.15;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Source Code Pro Variable', monospace;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 0;
  font-size: 3rem;
}

/* FOOTER */

footer a, footer p {
  color: #72718a;
  user-select: none;
  display: inline-block;
}

footer {
  border-radius: 18px;
  flex-direction: row;
  padding: 25px 25px 10px 25px;
  background-color: var(--bg-colour-shade);
}

footer .footfoot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

footer a:hover, 
footer a:focus {
  color: var(--highlight);
}

footer .kawaii {
  font-size: 0.95rem;
  color: #72718a;
}

@media screen and (max-width: 725px) {

  .text {
    position: absolute;
    justify-self: center;
    top: 40%;
    left: 5%;
  }

  footer center {
    display: none;
  }

  footer .footfoot .icons {
    display: none;
  }

  footer .footfoot {
    justify-content: center;
  }
}

/* nav styles */

.nav-parent {
  background-color: var(--bg-colour-shade);
  display: grid;
  grid-auto-rows: minmax(0,1fr);
  grid-template-columns: repeat(2,minmax(200px,1fr));
  grid-template-rows: repeat(2,minmax(0,1fr));
  height: 100%;
  width: 100%;
  justify-content: start;
  overflow: hidden;
  position: relative;
  border-radius: 18px;
  padding: 25px
}

.page-info {
  display: flex;
  grid-column: auto / span 2;
  align-content: flex-start;
  align-items: flex-start;
  align-self: end;
  flex-direction: column;
  justify-content: flex-start;
}

.links {
  justify-self: end;
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.nav-links {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: min-content;
}

.page-links {
  align-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: auto;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
}

.about-links {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
}

.nav-links a {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.nav-parent .logo-container {
  align-self: start;
  flex: none;
  height: 100%;
  justify-self: start;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nav-parent .logo {
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
  user-select: none;
}

.logo:hover{
  filter: hue-rotate(40deg);
  filter: saturation(30%);
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--highlight);
  animation: bounce 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Content Grid Styles */

.content-grid {
  display: grid;
  flex: 0 0 auto;
  gap: 8px;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 1fr));
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.content-card {
  background-color: var(--bg-colour-shade);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  grid-row: auto / span 2;
  position: relative;
  transition: background-color 0.8s ease;
}

.content-card:hover {
  background-color: rgba(11, 12.9, 15.3, 0.7);
}

.card-link {
  display: flex;
  text-decoration: none;
  padding-left:12px;
  position: absolute;
  top: 0;
  left: 0;
}

.card-link:hover > * {
  transform: scale(0.95);
}

.card-link > * {
  transition: transform 0.3s ease;
}

@media screen and (min-width: 725px) {

  .middle {
    display: flex;
    padding: 5%
  }
  .nav-links a{
    display: inline-block;
    padding: 15px 20px;
    user-select: none;
  }

  .name {
    font-weight: bolder;  }


  .postlink {
    display: flex;
    flex-direction: column;
    max-width: 40rem; 
    cursor: pointer;
    gap: 0.5rem; 
    border-radius: 0.375rem; 
    border: 2px solid #4a5568; 
    padding: 3rem; 
    transition: all 0.3s ease; 
    margin: 1%;
    text-decoration: none;
    color: #fff;
  }

  .text {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -325px;
    height: 40px;
    top: 40%;
    margin-top: -20px;
  }

  .word {
    position: absolute;
    opacity: 0;
    font-size: larger;
    user-select: none;
  }

  .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }

  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .letter.behind {
    transform: rotateX(-90deg);
  }

  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

}

@media screen and (max-width: 724px) {

  .text {
    position: absolute;
    justify-self: center;
    top: 30%;
    left: 5%;
  }

}

/*-------changing text on home-------*/
.word {
  position: absolute;
  opacity: 0;
  font-size:x-large;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lavender {
  color: #da8ffa;
}

.blue {
  color: #89caf5;
}

.red {
  color: #fc7869;
}

.green {
  color: #6ee9b6;
}

.orange {
  color: #ffa600;
}

.desc {
  margin-top: 5rem;
}

.desc a{
  color: var(--highlight);
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.project-card-sm {
  max-width: 450px;
  padding: 1.5px;
  border-radius: 15px;
  background-color: var(--bg-colour-shade); 
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1.5%;
  display: flex;
  flex: 1 1 calc(45% - 1rem);
  justify-content: center;
  align-items: center;
  transition: transform 0.4s, box-shadow 0.4s ;
  width: 100%;
}

.project-card-sm:hover {
transform: scale(1.025);
box-shadow: 0 0 30px -25px var(--highlight);  
}

.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  width: 10rem;
  z-index: -1;
  background: linear-gradient(to right, transparent, var(--highlight), transparent);
  transition: opacity 0.3s ;
  opacity: 0;
  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(360deg) ;
    transform-origin: bottom;
  }
}

.project-card-sm .card-container {
  display: grid;
  grid-template-areas: "img text text text";
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: var(--bg-colour-shade);
  color: var(--bg-colour-light-shade);
}

.card-container img {
  grid-area: img;
  /*   height: 100%; */
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.card-container .wrapper {
  grid-area: text;
  font-size: 0.9rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.card-container .wrapper h1 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.75rem;
}

.light .card-container .wrapper h1 {
  color: var(--bg-colour);
}

.card-container .wrapper p1 {
  height: 4.2em; /* Adjust the height as needed */
  overflow: hidden;
}

.card-container .wrapper button {
  background: none;
  border: none;

  font: inherit;
  color: #fff;
  /*   background-color: red; */
  margin-top: 1.4rem;
}

.card-container .wrapper button i {
  margin-left: .5rem;
  transition: margin 0.3s;
}
.card-container:hover button i {margin-left: 1rem;}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 725px) {
  .project-card-sm {
    flex-basis: calc(100% - 1rem);
  }
}

.postlink {
  display: flex;
  flex-direction: column;
  max-width: 40rem; 
  cursor: pointer;
  gap: 0.5rem; 
  border-radius: 0.375rem; 
  border: 2px solid #4a5568; 
  padding: 1.5rem; 
  transition: all 0.3s ease; 
  margin: 1%;
  text-decoration: none;
  color: #fff;
}

.inside-post {
  font-size: x-large;
}

