---
import { fade } from 'astro:transitions';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/markdown.css';

const PageTitle = '404';
---

<BaseLayout>
	<div class="text" style="top: 20vh;">
        <p transition:animate="fade">
            <span class="word lavender">?:3?*:・ﾟ✧</span>
            <span class="word blue">✧˚ ༘ ⋆｡♡˚</span>
            <span class="word red">ଘ(੭ˊ꒳​ˋ)੭?</span>
            <span class="word green">⸜(｡˃ ᵕ ˂ )⸝?</span>
            <span class="word orange">⸜(*ˊOˋ*)⸝</span>
          </p>
          <br>
          <br>
		<h1 transition:animate="slide" style="margin= 0 0; font-size= 4rem;">{PageTitle}! Where are you sneaking off to!?</h1>
		<p transition:animate={fade({duration: '0.2s'})} >
            Looks like you've stumbled upon a page that (allegedly) doesn't exist. 
		</p>
    <br>
    <div class="prose">[user@arysite ~]$ <a href="javascript:history.back()">cd ..</a></div>
	  </div>
</BaseLayout>