---
import BaseLayout from '../layouts/BaseLayout.astro';

const AboutPageContent = "Nice to meet you! I'm Aryan, currently studying EE at the University of Alberta. I'm into Art, Robotics, and Computers; this website is for housing and showcasing most of my projects related to the above. Feel free to reach out!";
---

<BaseLayout AboutPageContent={AboutPageContent} >
  <div slot="text" style="padding:10px;">
    thanks <a href="https://x.com/TheLordFlygon" style="text-decoration: none;">@gibson</a> for the grapes.
  </div>
</BaseLayout>
