---
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = "contact";
---

<BaseLayout PageTitle = {PageTitle}>
    <p transition:animate="fade" class="about-text">
      The best way to reach me is through my university <a href="mailto:aryal2@ualberta.ca" style="text-decoration: none;">email</a>.
    </p>
    <br>
    <p transition:animate="fade" class="about-text">
      if you have any questions or just want to chat, feel free to reach out to me!
    </p>
    <br>
    <p transition:animate="fade" class="about-text">
      the code for this website is hosted on
      my <a href="https://github.com/pyarya/website" style="text-decoration: none;">github!</a> feel free to take any elements from
      this website and apply it to your own! I started this website with the <a href="https://astro.build" style="text-decoration: none;">astro</a> tutorial if you want to make your own!
      <br>
      <br>
      1 billion thanks to <a href="https://x.com/TheLordFlygon" style="text-decoration: none;">gibson</a> for the grapes icon.
    </p>
</BaseLayout>
