---
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = "contact";
---

<BaseLayout PageTitle = {PageTitle}>
    <p>					
      hi! i'm aryan. i'm currently in electrical engineering at the university of alberta
      as well as an electrical memeber of the autonomous robotic vehicle project(ARVP). My role at ARVP
      consists of design, documentation, and safety! 
      
      i can be contacted through any of the contact links across the website.
      the best way to reach me is probably through my university <a href="mailto:aryal2@ualberta.ca" style="text-decoration: none; font-weight: bolder; color: #ffabff;">email</a>.
    
      the code for this website is hosted on
      my <a href="https://github.com/pyarya/website" style="text-decoration: none; font-weight: bolder; color: #ffabff;">github!</a> feel free to take any elements from 
      this website and apply it to your own!
    </p>
</BaseLayout>