---
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = "contact";
---

<BaseLayout PageTitle = {PageTitle}>
    <p transition:animate="fade" class="about-text">					   
      i can be contacted through any of the contact links across the website.
      the best way to reach me is probably through my university <a href="mailto:aryal2@ualberta.ca" style="text-decoration: none;">email</a>.
    </p>
    <br>
    <p transition:animate="fade" class="about-text">
      i am always open to new opportunities so if you have any questions or just want to chat, feel free to reach out to me!
    </p>
    <br>
    <p transition:animate="fade" class="about-text">
      the code for this website is hosted on
      my <a href="https://github.com/pyarya/website" style="text-decoration: none;">github!</a> feel free to take any elements from 
      this website and apply it to your own! You can also check out <a href="https://astro.build" style="text-decoration: none;">astro!</a> to build your own website!
      thank you <a href="https://x.com/TheLordFlygon" style="text-decoration: none;">gibson</a> for the grapes icon
    </p>
</BaseLayout>