---
import { getCollection } from 'astro:content';
import ArtLayout from '../layouts/BaseLayout.astro';
import Gallery from '../components/Gallery.jsx';
import BlogPost from '../components/BlogPost.astro';
import { date } from 'astro/zod';

const allProjects = await getCollection("art");
const PageTitle = "🎨";
---

<ArtLayout PageTitle = {PageTitle}>
        <p transition:animate="fade">Here's some of my artwork! You can find anything from physical media to photography here.</p>
        <Gallery/>
        <!-- <div style="height: 30vh;"></div>
        <marquee> nothing here yet, stay tuned :3</marquee> -->
</ArtLayout>
