---
import '../styles/art-grid.css';
import '../styles/viewer.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import ArtCard from '../components/ArtCard.astro';

const pieces = await getCollection('media');
const sorted = pieces.sort((a,b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
const PageTitle = "🎨Wall";
---

<BaseLayout PageTitle={PageTitle}>
    <p transition:animate="fade">my art and photos</p>
    <div class="art-grid">
      {sorted.map((piece) => (
        <ArtCard piece={piece} />
      ))}
    </div>
    <div id="viewer" class="image-viewer">
      <span class="close">&times;</span>
      <img id="viewer-img" alt="Full view" />
      <div id="viewer-meta" class="metadata-box"></div>
    </div>
    <script src="../scripts/viewer.js"></script>
  </BaseLayout>