---
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = "blog";
---

<BaseLayout PageTitle = {PageTitle}>
        <p>Here are some of my thoughts, notes, or snippets:</p>
        <ul>
            <li><a href="/posts/post-1">post 1</a></li>
            <li><a href="/posts/post-2">post 2</a></li>
        </ul>
    </body>
</BaseLayout>