---
import BaseLayout from '../layouts/homelayout.astro';
const PageTitle = 'home';
---

<BaseLayout PageTitle={PageTitle}>
	<div class="text">
		<h2>Aryan Aryal</h2>
		<p>
		  <span class="word wisteria">apple</span>
		  <span class="word belize">orange</span>
		  <span class="word pomegranate">banana</span>
		</p>
	  </div>
	  
</BaseLayout>