---
import { fade } from 'astro:transitions';
import HomeLayout from '../layouts/homelayout.astro';

const PageTitle = 'home';
---

<HomeLayout PageTitle={PageTitle}>
    <section class="intro">
        <div class="text">
            <h1 class="name page-title" transition:animate="slide">AryaN</h1>
                <p transition:animate={fade({duration: '0.2s'})} class="desc" >
                 Hi!! Welcome to my website! I'm an EE student @ the <a href="https://www.ualberta.ca">university of alberta</a>.
                Some of my interests include <a href="/art">art</a>, photography and <a href="https://arvp.org">robotics!</a>
                Thanks for visiting!
                </p>
        </div>
    </section>
</HomeLayout>

<style>
	.intro {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
        }

	.intro .text {
			width: auto;
	}
</style>
