---
import BaseLayout from '../layouts/homelayout.astro';
const PageTitle = 'home';
---

<BaseLayout PageTitle={PageTitle}>
	<div class="text">
		<p>Hi, I'm</p>
		<h1 class ="name">Aryan Aryal</h1>
		<p>
		  <span class="word yellow">apple</span>
		  <span class="word blue">blueberry</span>
		  <span class="word red">strawberry</span>
		  <span class="word green">pear</span>
		</p>
	  </div>
</BaseLayout>