---
import { fade } from 'astro:transitions';
import BaseLayout from '../layouts/homelayout.astro';
const PageTitle = 'home';
---

<BaseLayout PageTitle={PageTitle}>
	<div class="text">
		<p transition:animate="fade" class="hi">Hello! I'm</p>
		<h1 class ="name" transition:animate="slide">Aryan Aryal</h1>
		<p transition:animate="fade">
		  <span class="word lavender">Engineering@Ualberta</span>
		  <span class="word blue">Student</span>
		  <span class="word red">Creative</span>
		  <span class="word green">Nerd</span>
		</p>
		<p transition:animate={fade({duration: '0.2s'})} class="desc" >Most of my free time is spent tinkering with computers, building gundam models, or reading
			<a transition:animate={fade({duration:'0.5s'})} href="https://mangaplus.shueisha.co.jp/viewer/1000486">manga</a>.
			I am also part of a project team at my university, the Autonomous Robotic Vehicle Project
			<a transition:animate={fade({duration:'0.5s'})} href="https://arvp.org">[ARVP]</a> where I work on 
			electrical design, documentation, and safety for an underwater autonomous vehicle!</p>
	  </div>
</BaseLayout>