---
import BaseLayout from '../layouts/homelayout.astro';
const PageTitle = 'home';
---

<BaseLayout PageTitle={PageTitle}>
	<div class="text">
		<p class="hi">Hello! I'm</p>
		<h1 class ="name">Aryan Aryal</h1>
		<p>
		  <span class="word lavender">Engineering@Ualberta</span>
		  <span class="word blue">Student</span>
		  <span class="word red">Creative</span>
		  <span class="word green">Enthusiast</span>
		</p>
	  </div>
</BaseLayout>