---
import { fade } from 'astro:transitions';
import BaseLayout from '../layouts/homelayout.astro';
import Greeting from '../components/Greeting';

const PageTitle = 'home';
---

<BaseLayout PageTitle={PageTitle}>
	<div class="text">
		<span transition:animate="fade"><Greeting client:load messages={["Hello", "Hej", "Hallo", "Hola", "Habari"]} /></span>
		<h1 class ="name" transition:animate="slide">Aryan Aryal</h1>
		<p transition:animate="fade">
		  <span class="word lavender">(ﾉ◕ヮ◕)ﾉ*:・ﾟ✧</span>
		  <span class="word blue">ʕᵔᴥᵔʔ</span>
		  <span class="word red">ଘ(੭ˊ꒳​ˋ)੭✧</span>
		  <span class="word green">٩(ˊ〇ˋ*)و</span>
		  <span class="word orange">⸜(*ˊᗜˋ*)⸝</span>
		</p>
		<p transition:animate={fade({duration: '0.2s'})} class="desc" >
		<!-- future description text -->
		</p>
	  </div>
</BaseLayout>