---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { date } from 'astro/zod';

const allProjects = await getCollection("projects");

const sorted = allProjects.sort((a, b) => {
    return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});

const PageTitle = "projects";
---

<BaseLayout PageTitle = {PageTitle}>
        <p transition:animate="fade">Here are some of my projects:</p>
        <div class="projects-container">
        {sorted.map((project) => (
            <BlogPost 
            url={`/projects/${project.slug}/`} 
            title={project.data.title} 
            description={project.data.description} 
            date={project.data.pubDate.toString().slice(0,15)}
            />))}
        </div>
    </body>
</BaseLayout>