---
import BaseLayout from '../layouts/BaseLayout.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');
const PageTitle = "projects";
---

<BaseLayout PageTitle = {PageTitle}>
        <p>Here are some of my projects:</p>
        <ul>
            {allProjects.map((project) => <li><a href={project.url}>{project.frontmatter.title}</a></li>)}
        </ul>
    </body>
</BaseLayout>