---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');
const PageTitle = "projects";
---

<BaseLayout PageTitle = {PageTitle}>
        <p transition:animate="fade">Here are some of my projects:</p>
        <div class="projects-container">
        {allProjects.map((project) => <BlogPost url={project.url} title={project.frontmatter.title} description={project.frontmatter.description} date={project.frontmatter.pubDate.slice(0,10)}/>)}
        </div>
    </body>
</BaseLayout>