---
const { title, url, date, description } = Astro.props;
import { slide } from 'astro:transitions';
---
<div transition:animate="slide" class="project-card-sm">
  <a href={url}>
  <div class="card-border-gradient"></div>
  <div class="card-container">
    <div class="wrapper">
      <h1>{title}</h1>
      <p>{date}</p>
      <p1>{description}</p1>
    </div>
  </div>
  </a>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  
}


.project-card-sm {
/*   max-width: 600px; */
  max-width: 450px;
  padding: 2.5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
  display: flex;
  flex: 1 1 calc(45% - 1rem);
  justify-content: center;
  align-items: center;
  transition: transform 0.4s, box-shadow 0.4s ;
  width: 100%;
}

.project-card-sm:hover {
  transform: scale(1.025);
  box-shadow: 0 0 80px -30px #8c45dc;  
}


.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  width: 10rem;
  z-index: -1;
  background: linear-gradient(to right, transparent, #ba72e4, transparent);
  
  transition: opacity 0.3s ;
  opacity: 0;
    
  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(360deg) ;
    transform-origin: bottom;
  }
}

.project-card-sm .card-container {
  display: grid;
  grid-template-areas: "img text text text";
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: #191e24;
  color: rgba(255, 255, 255, 0.7);
}

.card-container img {
  grid-area: img;
/*   height: 100%; */
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
  
  transition: transform 0.3s;
}

.card-container .wrapper {
  grid-area: text;
  font-size: 0.9rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.card-container .wrapper h1 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.75rem;
}

.card-container .wrapper p1 {
  height: 4.2em; /* Adjust the height as needed */
  overflow: hidden;
}

.card-container .wrapper button {
  background: none;
  border: none;
  
  font: inherit;
  color: #fff;
/*   background-color: red; */
  margin-top: 1.4rem;
  
}

.card-container .wrapper button i {
  margin-left: .5rem;
  transition: margin 0.3s;
}
.card-container:hover button i {margin-left: 1rem;}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 725px) {
  .project-card-sm {
    flex-basis: calc(100% - 1rem); /* Make each card take up 100% width on smaller screens */
  }
}

</style>
