---
const { title, url, date, description } = Astro.props;
---
<div transition:animate="slide" class="project-card-sm">
  <a href={url}>
  <div class="card-border-gradient"></div>
  <div class="card-container">
    <div class="wrapper">
      <h1>{title}</h1>
      <p>{date}</p>
      <p1>{description}</p1>
    </div>
  </div>
  </a>
</div>
