---
const { title, url, frontmatter } = Astro.props;
import { slide } from 'astro:transitions';
---
<li>
    <a transition:animate={slide({ duration: '0.4s' })} class="postlink" href={url}>
        <container class="inside-post">{title}</container>
    </a>
</li>



<style>

li {
  list-style-type: none; 
}

a:hover {
  transform: translateY(-0.5rem); 
  border-color: #cbd5e0; 
  font-weight: bold;
}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}


p {
  margin: 0; 
  color: #f8fafc; 
}

svg {
  width: 1.125rem; /
  height: 1.125rem; 
  fill: none; 
  stroke: #4a5568; 
  transition: all 0.3s ease; 
}

a:hover svg {
  transform: translateX(0.25rem); 
}

@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row !important;
  }
}
</style>
