---
import "../styles/posts.css";
const { title, url, date, description, tags = [], image } = Astro.props;
---

<div
  transition:animate="slide"
  class="project-card-sm"
  data-tags={tags.join(",")}
>
  <a href={url}>
      <div class="wrapper">
        <h1>{title}</h1>
        <p>{date}</p>
      </div>
    </div>
  </a>
</div>
