---
import "../styles/posts.css";

const {
  title,
  url,
  date,
  description,
  tags = [],
  image = { showCard: false, url: "", alt: "" }
} = Astro.props;

---

<div
  transition:animate="slide"
  class="project-card-sm content-card"
  data-tags={tags.join(",")}
>
  <a
    class="card-link"
    href={url}
    style="height:100%;width:100%;opacity:1;border-radius:18px;"
  >
    <div class="card-text-wrapper">
      <p class="card-title">{title}</p>
    </div>
  </a>
</div>
