
---
const { title, url, date, description } = Astro.props;
---
<div transition:animate="slide" class="content-card">
  <a class="card-link" style="height: 100%; width: 100%; opacity: 1; border-radius: 18px;" href={url} target="_blank">
    <div class="card-text-wrapper">
      <p class="card-title">{title}</p>
      <p class="card-date">{date}</p>
    </div>
  </a>
</div>
