---
import Social from './Social.astro';
import ThemeIcon from './ThemeIcon.astro';

const today = new Date();
---

<footer>
    <div class="footer-content" style="display: flex;
    justify-content: space-between;">
        <Social />
        <a style=" text-align: center; vertical-align: center; font-size: 24px;" href="#top">↑</a>
    </div>
    <hr style="margin: 1rem 0 0 0;">
    <div class="footfoot">
        <span style="color: #72718a; font-size: small;">©{today.getFullYear()} Licensed under AGPL.</span>
        <ThemeIcon />
    </div>
</footer>
