---
import Social from './Social.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<footer>
    <center style="opacity: 60%; margin:2%; font-size: small;">© 2024 Aryan Aryal. Licensed under AGPL.</center>
    <div class="footlinks">
    <p>
    <!-- <Social platform = "github" username ="pyarya" /> | -->
    <Social platform = "linkedin" username ="in/aryanaryal" /> |
    <a href="mailto:aryal2@ualberta.ca">email</a>
    </p>
    <ThemeIcon />
    </div>
</footer>


