---
import Social from './Social.astro';
---

<footer>
    <p>
    <Social platform = "github" username ="pyarya" /> |
    <Social platform = "linkedin" username ="in/aryanaryal" /> |
    <Social platform = "email" username ="aryal2@ualberta.ca" />
    </p>
    <p>ദ്ദി ˉ͈̀꒳ˉ͈́ )✧</p>
</footer>


