---
import Social from './Social.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<footer>
    <p>
    <!-- <Social platform = "github" username ="pyarya" /> | -->
    <Social platform = "linkedin" username ="in/aryanaryal" /> |
    <Social platform = "email" username ="aryal2@ualberta.ca" />
    </p>
    <ThemeIcon />
</footer>


