---
import Social from './Social.astro';
---

<footer>
    <p>
    <!-- <Social platform = "github" username ="pyarya" /> | -->
    <Social platform = "linkedin" username ="in/aryanaryal" /> |
    <Social platform = "email" username ="aryal2@ualberta.ca" />
    </p>
    <a href="/posts/secret">ദ്ദി ˉ͈̀꒳ˉ͈́ )✧</a>
</footer>


