---
import Nav from '../components/Navigation.astro';
const { PageTitle } = Astro.props;
const { PageDesc } = Astro.props;
---

<nav>
    <header>
        <a id="top"></a>
        <Nav {PageTitle} {PageDesc} />
    </header>
</nav>
<script src='../scripts/resumebutton.js'></script>
