---
import Nav from '../components/Navigation.astro';
const { PageTitle } = Astro.props;
---

<nav>
    <header>
        <Nav {PageTitle} />
    </header>
</nav>
<script src='../scripts/resumebutton.js'></script>
