---

---
<div class="nav-parent">
    <a href="/" class="logo">*</a>
    <div class = "nav-links">
        <a href="/projects">blog</a>
        <a href="/projects">projects</a>
    </div>
    <div class="alt-links">
        <a href="https://www.github.com/pyarya">github</a>
        <a class = "resume" href="/resume.pdf">resume</a>
        <a href="/about">contact</a>
    </div>
</div>