---

---
<div class="nav-parent">
    <a href="/"><img src="/public/icon.png"class="logo" width="64" height="64"></a>    
    <div class = "nav-links">
        <a href="/blog">blog</a>
        <a href="/projects">projects</a>
    </div>
    <div class="middle"></div>
    <div class="alt-links">
        <a href="/about">contact</a>
        <a class = "resume" href="/resume.pdf">resume</a>

    </div>
</div>