---

---

<div transition:animate="slide" class="nav-parent">
    <div class="nav-links">
        <a href="/blog">blog</a>
        <a href="/projects">projects</a>
        <a href="/art">art</a>

    </div>
    <a href="/"><img src="/images/misc/icon.png" alt="logo" class="logo" width="48" height="48"></a>
    <!-- <div class="middle"></div> -->
    <div class="alt-links">
        <a href="/art" style="visibility:hidden">art</a> <!-- ## lifehacks -->
        <a href="/about">contact</a>
        <a class="resume" href="/">resume</a>
    </div>
</div>  
