---
export const prerender = false;
---

<div transition:animate="slide" class="nav-parent">
    <div class="nav-links">
        <a href="/blog">blog</a>
        <a href="/projects">projects</a>
        <a href="/art">art</a>

    </div>
    <a href="/"><img src="/images/misc/icon.png" alt="logo" class="logo" width="48" height="48"></a>
    <!-- <div class="middle"></div> -->
    <div class="alt-links">
        <a href="/art" style="visibility: hidden;">art</a> <!-- ## lifehacks -->
        <a href="/about">contact</a>
        <a class="resume" href="" target="_blank" data-astro-reload>resume</a>
    </div>
</div>

<script>
    document.getElementsByClassName('resume')[0].addEventListener('click', async () => {
        const url = "https://compile-overleaf.vercel.app/api/read?token=jtfnyyspfxxz";
        const response = await fetch(url);
        const jsonResponse = await response.json();
        const pdfLink = jsonResponse.link.pdf;
        window.open(pdfLink, "_blank");
    });    
</script>    
