---
---
<div slot="uwu">
  <p transition:animate="fade">
    <span class="word lavender">(ﾉ◕ヮ◕)ﾉ*:・ﾟ✧</span>
    <span class="word blue">✧˚ ༘ ⋆｡♡˚</span>
    <span class="word red">ଘ(੭ˊ꒳​ˋ)੭✧</span>
    <span class="word green">⸜(｡˃ ᵕ ˂ )⸝♡</span>
    <span class="word orange">⸜(*ˊᗜˋ*)⸝</span>
  </p>
</div>
