---
import { ViewTransitions } from 'astro:transitions';
const { PageTitle } = Astro.props;
import '../styles/global.css';
import '@fontsource-variable/source-code-pro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/misc/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{PageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<h1 transition:animate="slide">{PageTitle}</h1>
		<slot />
		<br>
		<Footer />
	</body>
	<script>
		import '../scripts/resumebutton.js';
	</script>
</html>